body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/sc-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 30px 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: none;
  color: white;
  padding: 16px 32px;
  border-radius: 100px;
  background-color: #885df1;
  display: inline-block;
  margin-top: 32px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 12px;
  }
}
